#pragma code_page(65001)
#include <windows.h>
#include "resource.h"
IDI_MEDIAGRABBY ICON "app.ico"
1 RT_MANIFEST "app.manifest"
1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileDescription", "MediaGrabby"
      VALUE "FileVersion", "0.1.0"
      VALUE "InternalName", "MediaGrabby"
      VALUE "OriginalFilename", "MediaGrabby.exe"
      VALUE "ProductName", "MediaGrabby"
      VALUE "ProductVersion", "0.1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END


200 DIALOGEX 0, 0, 410, 321
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "", 410, 16, 11, 378, 14
    LTEXT "", 411, 16, 31, 222, 11
    LTEXT "", 412, 254, 31, 140, 11
    COMBOBOX 401, 16, 44, 222, 110, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX 402, 254, 44, 140, 85, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "", 413, 16, 70, 85, 11
    COMBOBOX 403, 110, 67, 128, 70, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "", 414, 16, 97, 378, 14
    CONTROL "", 301, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 16, 117, 376, 16
    LTEXT "", 310, 16, 142, 85, 11
    COMBOBOX 302, 16, 156, 85, 70, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "", 311, 113, 142, 206, 11
    EDITTEXT 303, 113, 156, 206, 18, ES_AUTOHSCROLL
    LTEXT "", 312, 333, 142, 61, 11
    EDITTEXT 304, 333, 156, 61, 18, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT "", 313, 16, 183, 181, 11
    EDITTEXT 305, 16, 197, 181, 18, ES_AUTOHSCROLL
    LTEXT "", 314, 213, 183, 181, 11
    EDITTEXT 306, 213, 197, 181, 18, ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT "", 315, 16, 223, 378, 13
    CONTROL "", 307, "Button", BS_OWNERDRAW | WS_TABSTOP, 16, 243, 153, 20
    LTEXT "", 308, 183, 241, 211, 37
    LTEXT "", 416, 16, 294, 195, 21
    CONTROL "", IDOK, "Button", BS_OWNERDRAW | WS_TABSTOP, 223, 290, 80, 21
    CONTROL "", IDCANCEL, "Button", BS_OWNERDRAW | WS_TABSTOP, 314, 290, 80, 21
END
